.container{
    display: flex;
flex-direction: column;
/* align-items:center; */
justify-content: space-between;
align-items: center;
padding: 10px;
gap: 10px;

width: 150px;
height: 300px;

background: #FFFFFF;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
border-radius: 5px;

}
.imageContainer{
    width: 126px;
    height: 90px;
    
    background: #E1E1E1;
}

.priceField{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.priceField p{
    margin: 0px;
}
.deletePrice{
    text-decoration: line-through;
    margin: 0px;
}
.discountPrice{
    color: red;
    margin: 0;
}
.buttonContainer{
    display: flex;
    height: 35px
}
