.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.infoContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.priceContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.hr{
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    opacity: 0.6;
}