.container{
  display: flex;
  flex-direction: column;
}
.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.body{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.arrowDown{
  padding-right: 10px;
  cursor: pointer;
}
.arrowUp{
  padding-left: 10px;
  cursor: pointer;
  transform: rotate(180deg);
}

